:root {
	font-family: 'Montserrat', sans-serif;
	--text-color: #2f5658;
	--bg-color: #2baf8a;
	--text-color-light: rgba(46, 84, 86, .5);
}

body {
	background: #eee;
	font-size: 16px;
}

a {
	text-decoration: none;
}